.search-box {
    -webkit-appearance: none;
    border: none;
    outline: none;
    padding: 10px;
    line-height: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 33%;
    font-size: 20px;
}
